:root {
    /* Light Theme Colors (Default) */
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    --text-primary: #333333;
    --text-secondary: #666666;
    --accent-color: #663399;
    --skill-color: #4c1d95;
    --card-bg: #e9d5ff;
    --nav-bg: rgba(255, 255, 255, 0.94);
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Dark Theme Colors */
[data-theme="dark"] {
    --bg-primary: #1a1a1a;
    --bg-secondary: #2d2d2d;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --accent-color: #a78bfa;
    --skill-color: white;
    --card-bg: #3d3d3d;
    --nav-bg: rgba(26, 26, 26, 0.94);
    --shadow-color: rgba(0, 0, 0, 0.3);
}


/*--Html--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
/* Theme Toggle Button Styles */
.theme-toggle {
    margin-left: 20px;
}

.theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    color: var(--accent-color);
}

.theme-btn:hover {
    transform: rotate(180deg);
    background-color: var(--card-bg);
}

/*--Scroll bar---*/
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px; 
}

/* Track (the background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Light grey background */
    
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #a25df0, #3d1761);  /* Gradient blue to green */
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #3d1562, #a926ce);  /* Darker gradient on hover */
}



body {
    background-color: var(--bg-primary);
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: var(--nav-bg);
    box-shadow: 5px 2px 4px rgba(188, 186, 186, 0.7);
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    transition: all 0.3s ease;
}

span{
    color:  var(--accent-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color:  var(--text-primary) ;
    transition: transform 0.6s ease;
}

.logo:hover {
    transform: scale(1.1); 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 600;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s ease;
}


/* Special hover effect with border bottom */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color); 
    transition: width 0.3s ease;
    
}

.nav-links a:hover {
    color: var(--accent-color);
}

.nav-links a:hover::after {
    width: 100%;
}

/* Hamburger menu - visible only on mobile */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--text-primary);
    transition: all 0.3s ease;
}

/* Responsive design */
@media screen and (max-width: 768px) {
.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #e6e0f6;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.nav-links.active {
    left: 0;
}

.nav-links li {
    margin: 16px 0;
}
}



/*-------Hero Section------*/
/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 5%;
    margin-top: 30px;
    }

.hero-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 400px;
    height: 450px;
    background-color: #d7c8ee; 
    border-radius: 20px;
    object-fit: cover;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    box-shadow: 3px 3px 4px #74589f, 0 0 8px #8e819f,
    0 0 13px #a78bfa;
    
}
.profile-image:hover{
    box-shadow: 12px 12px 5px rgba(83, 68, 96, 0.9);
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-heading {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 5px;
    line-height: 1.1;
}

.hero-heading span {
    color: var(--accent-color); /* Purple shade for "Sri" */
}

.hero-subheading {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero-subheading span {
    color:var(--accent-color); /* Purple shade for "Frontend Developer" */
}

.hero-description {
    font-size: 1rem;
    margin-top: 20px;
    line-height: 1.6;
    color: var(--text-primary);
    margin-bottom: 30px;
    max-width: 600px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.social-icon {
    width: 50px;
    height: 50px;
    border: 2px solid var(--accent-color);
    box-shadow: 2px 1px 5px var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #663399;
    font-size: 1.2rem;
    text-decoration: none;
    transition: transform 0.5s ease, background-color 0.3s ease;
    transition: 0.3s ease-in-out;
}

.social-icon:hover {
    background-color: #663399;
    color: white;
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 0 10px #74589f, 0 0 20px #d1c6e0,
    0 0 25px #a78bfa;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn-primary {
    background-color: #663399;
    color: white;
    box-shadow: 2px 2px 5px rgb(63, 59, 59);
    
}

.btn-secondary {
    background-color: white;
    color: #663399;
    border: 2px solid #663399;
    box-shadow: 2px 2px 5px #663399;
    cursor: pointer;
}
.btn-primary:hover{
    box-shadow: 0 0 5px #74589f, 0 0 8px #d1c6e0,
    0 0 12px #a78bfa;
}
.btn-secondary:hover{
    background-color: #663399;
    color: white;
    box-shadow: 0 0 5px #74589f, 0 0 8px #d1c6e0,
    0 0 12px #a78bfa;
    
}

/* Responsive Design */
@media screen and (max-width: 992px) {
    .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    .hero-image {
    margin-bottom: 0px;
    margin-top: 10px;
    }

    .social-icons {
    justify-content: center;
    }

    .hero-buttons {
    justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .hero-heading {
    font-size: 2.8rem;
    }

    .hero-subheading {
    font-size: 1.8rem;
    }

    .profile-image {
    width: 280px;
    height: 280px;
    }
}

@media screen and (max-width: 480px) {
    .hero-heading {
    font-size: 2.3rem;
    }

    .hero-subheading {
    font-size: 1.5rem;
    }

    .profile-image {
    width: 220px;
    height: 220px;
    }

    .hero-buttons {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    }

    .btn {
    text-align: center;
    }
}

.text-animation {
font-size: 34px;
font-weight: 600;
min-width: 280px;
}
.text-animation span {
position: relative;
}
.text-animation span::before {
content: "Web Developer";
color: var(--accent-color);
animation: words 20s infinite;
}
.text-animation span::after {
content: "";
background-color: var(--bg-primary);
position: absolute;
width: calc(100% + 8px);
height: 100%;
border-left: 3px solid var(--bg-color);
right: -8px;
animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
to {
border-left: 3px solid rgb(195, 170, 209);
height: 40px;
}
}
@keyframes words {
0%,
20% {
content: "Frontend Designer";
}
21%,
40% {
content: "Web Designer";
}
41%,
60% {
content: "UI / UX Designer";
}
61%,
80% {
content: "Web Developer";
}
81%,
100% {
content: "Fullstack Developer";
}
}
@keyframes typing {
10%,
15%,
30%,
35%,
50%,
55%,
70%,
75%,
90%,
95% {
width: 0;
}
5%,
20%,
25%,
40%,
45%,
60%,
65%,
80%,
85% {
width: calc(100% + 8px);
}
}


/*----Education Section-----*/
.education-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 70px;
}

.timeline {
    position: relative;
    padding: 0 20px;
}

/* The vertical line */
.timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    background: #D8BFD8;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid var(--accent-color);
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.timeline-item {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    
}

.timeline-content {
    position: relative;
    width: calc(50% - 40px);
    padding: 20px;
    background: #e9dcf8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid var(--accent-color);
    box-shadow: 2px 3px 5px #c6b3da;
    box-shadow: var(--nav-bg)

}

/* Dots on the timeline */
.timeline-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #7c3aed;
    border-radius: 50%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border: 3px solid  var(--accent-color);
    box-shadow: 2px 3px 5px #c6b3da;
    box-shadow: 0 0 5px #74589f, 0 0 8px #d1c6e0,
    0 0 12px #a78bfa;
}

/* Alternating items */
.timeline-item:nth-child(odd) .timeline-content {
    float: right;
    margin-left: 80px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: left;
    margin-right: 80px;
}

.timeline-date {
    display: inline-block;
    padding: 5px 15px;
    background: #7c3aed;
    color: white;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.timeline-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.timeline-degree {
    color: #666;
    font-size: 1rem;
}

/* Clear floats */
.timeline-item::after {
    content: '';
    display: table;
    clear: both;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
.timeline::before {
    left: 30px;
}

.timeline-dot {
    left: 30px;
}

.timeline-content {
    width: calc(100% - 80px);
    float: right;
    margin-left: 60px !important;
}

.timeline-item:nth-child(odd) .timeline-content,
.timeline-item:nth-child(even) .timeline-content {
    float: right;
    margin-right: 0;
}
}


/*-----Services Section------*/
.services-section {
            padding: 50px 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .section-title {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 50px;
            font-weight: bold;

        }

        .services-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(280px, 1fr));
            gap: 50px;
            padding: 20px;
            
        }

        .service-card {
            position: relative;
            height: 350px;
            cursor: pointer;

            
        }

        .card-background {
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--accent-color);
            transform: rotate(0deg);
            transition: transform 0.3s ease;
            z-index: 1;
        }

        .card-content {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #e9dcf8;
            padding: 30px;
            color: black;
            z-index: 2;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            transition: transform 0.3s ease;
            border: 2px solid var(--accent-color);
            box-shadow: 1px 1px 5px rgb(53, 37, 53);

        }

        .service-card:hover .card-background {
            transform: rotate(6deg);
            
            
        }

        .service-card:hover .card-content {
            transform: scale(1.02);
            
            
        }

        .card-title {
            font-size: 1.8rem;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .card-description {
            font-size: 1rem;
            line-height: 1.6;
            opacity: 0.9;
            
        }
        

        /* Mobile Responsive Adjustments */
        @media screen and (max-width: 768px) {
            .section-title {
                font-size: 2.5rem;
                margin-bottom: 30px;
            }

            .services-grid {
                grid-template-columns: 1fr;
                gap: 50px;
                padding: 10px;
            }

            .service-card {
                height: 300px;
            }

            .card-title {
                font-size: 1.5rem;
                margin-bottom: 15px;
            }
            .card-description{
                font-size: 13px;
            }
        }


/*------Skills Secton--------*/
.skills-section {
            max-width: 1200px;
            margin: 0 auto;
            padding: 50px 20px;
        }

        .section-title {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 50px;
            font-weight: bold;
        }

        .skills-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            gap: 30px;
            justify-items: center;
            padding: 20px;
        }

        .skill-item {
            width: 130px;
            height: 130px;
            position: relative;
            cursor: pointer;
        }

        .skill-circle {
            width: 100%;
            height: 100%;
            border: 3px solid var(--accent-color);
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            gap: 10px;
            padding: 20px;
            box-shadow: 2px 1px 5px var(--accent-color);
        }

        .skill-icon {
            font-size: 2.5rem;
            color: var(--skill-color);
            transition: all 0.3s ease;
        }

        .skill-name {
            color: var(--skill-color);
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            transition: all 0.3s ease;
        }

        /* Hover Effects */
        .skill-circle:hover {
        background-color: var(--accent-color);
        opacity: 0.90;
        color: white;
        transform: scale(1.1) translateY(-5px);
        box-shadow: 0 0 10px #74589f, 0 0 20px #d1c6e0,
    0 0 25px #a78bfa;
        }

        .skill-circle:hover .skill-icon,
        .skill-circle:hover .skill-name {
            color: white;
        }

        /* Mobile Responsive */
        @media screen and (max-width: 768px) {
            .section-title {
                font-size: 2.5rem;
                margin-bottom: 30px;
            }

            .skills-grid {
                grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                gap: 20px;
                padding: 10px;
            }

            .skill-item {
                width: 130px;
                height: 130px;
            }

            .skill-icon {
                font-size: 2rem;
            }

            .skill-name {
                font-size: 0.9rem;
            }
        }

        @media screen and (max-width: 480px) {
            .skills-grid {
                grid-template-columns: repeat(2, 1fr);
            }

            .skill-item {
                width: 120px;
                height: 120px;
            }

            .skill-icon {
                font-size: 1.8rem;
            }

            .skill-name {
                font-size: 0.8rem;
            }
        }

/*-----Contact Section-----*/
.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    min-height: 100vh;
}

.section-title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
    font-weight: bold;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-text {
    flex: 1;
    min-width: 300px;
}

.contact-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.contact-subtext {
    font-size: 1.5rem;
    color: var(--text-primary);
    margin-bottom: 30px;
    line-height: 1.5;
}

.contact-email {
    display: inline-block;
    background: #7c3aed;
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.5s ease;
    box-shadow: 2px 1px 5px var(--accent-color);
    transition: transform 0.9s ease;
}

.contact-email:hover {
    transform: scale(1.1);
}

.contact-form {
    flex: 1;
    min-width: 300px;
    background: #e9d5ff;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--accent-color);
    box-shadow: 0 0 10px #74589f, 0 0 20px #d1c6e0,
    0 0 25px #a78bfa;
    
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: white;
    font-size: 1rem;
    transition: all 0.3s ease;
    border: 2px solid var(--accent-color);
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #7c3aed;
}

textarea.form-input {
    min-height: 150px;
    resize: vertical;
    border: 2px solid var(--accent-color);
}

.submit-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background: #7c3aed;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 1px 5px var(--accent-color);
    
}

.submit-btn:hover {
background: #6d28d9;
transform: translateY(-4px);
box-shadow: 0 0 5px #74589f, 0 0 8px #d1c6e0,
    0 0 12px #a78bfa;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
.section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact-container {
    flex-direction: column;
    gap: 30px;
}

.contact-text {
    text-align: center;
}

.contact-heading {
    font-size: 2rem;
}

.contact-subtext {
    font-size: 1.2rem;
}
}

@media screen and (max-width: 480px) {
.contact-section {
    padding: 30px 15px;
}

.contact-heading {
    font-size: 1.8rem;
}

.contact-subtext {
    font-size: 1.1rem;
}

.contact-form {
    padding: 20px;
}
}


/*------Project section----*/

.projects-section {
            max-width: 1200px;
            margin: 0 auto;
            padding: 50px 20px;
        }

        .section-title {
            text-align: center;
            font-size: 3.5rem;
            margin-bottom: 50px;
            font-weight: bold;
        }

        .projects-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 50px;
            padding: 20px;
        }

        .project-card {
            height: 350px;
            perspective: 1000px;
            cursor: pointer;
            box-shadow: 2px 3px 5px rgb(91, 87, 91);
            border-radius: 15px;
            border: 2px solid #663399;
            
        }

        .card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.9s ease-in;
            transform-style: preserve-3d;
            box-shadow: 0 0 5px rgb(103, 103, 134);
            border-radius: 15px;
        }

        .project-card:hover .card-inner {
            transform: rotateY(180deg);
        }

        .card-front, .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 15px;
            overflow: hidden;
        }

        .card-front {
            background: #e9d5ff;
        }

        .card-back {
            background: #7c3aed;
            color: white;
            transform: rotateY(180deg);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .project-image {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-bottom: 2px solid #663399;
            box-shadow: 2px 2px 5px rgb(75, 68, 76);
        }

        .project-title {
            padding: 15px;
            font-size: 1.5rem;
            font-weight: bold;
            color: black;
        }

        .project-description {
            margin-bottom: 20px;
            line-height: 1.6;
        }

        .project-link {
            display: inline-block;
            padding: 10px 25px;
            background: white;
            color: #7c3aed;
            text-decoration: none;
            border-radius: 25px;
            font-weight: bold;
            transition: all 0.6s ease;
        }

        .project-link:hover {
            background: #e9d5ff;
            transform: translateY(-2px);
        }

        /* Mobile Responsive */
        @media screen and (max-width: 768px) {
            .section-title {
                font-size: 2.5rem;
                margin-bottom: 30px;
            }

            .projects-grid {
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 50px;
                padding: 10px;
            }

            .project-card {
                height: 400px;
                
            }

        .project-title{
            font-size: 25px;
        }
            .project-image {
                height: 200px;
            }
        }

        @media screen and (max-width: 480px) {
            .projects-grid {
                grid-template-columns: 1fr;
                
            }
        }